body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EAF2E3;
}

.jumbotron {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  background-color: #53F4FF;
  color: #F25757;
}

.custom-select {
  background-color: #F25757;
  font-size: 2em;
  color: white;
  border-style: none;
  border-radius: 0;
  border: 0px solid #F25757;
}

.title {
  color: #090909;
}

#step2, #step3, #step4 {
  display: none;
}

#step4 {
  color:white;
  font-size: 2em;
}

.btn-next {
  float: right;
}

.panel-default {
  margin-top: 20px;
  height: 250px;
  background-color: #F25757;
}

.age-input {
  padding-top: 50px;
  margin-left: 250px;
  color: white;
  font-size: 2em;
}
